:root {
  --color-gray: #333333;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-medium-gray: #b8b8b8;
  --color-light-gray: #e5e5e5;
  --color-gray-2: #fafafa;
  --color-dark-gray: #777777;
  --color-red: #ee0000;
  --color-blue: #0070c9;
}